*, *:before, *:after
  box-sizing: border-box

*::-moz-selection
  background: yellow
  outline: 1px solid red

*::selection
  background: yellow

.is-hidden
  display: none !important

.unselectable
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

body
  font-size: 12px
  font-family: "Suisse Int'l Mono", "Menlo", monospace
  color: $color-black
  letter-spacing: .1rem
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-transform: lowercase

a
  text-decoration: none
  color: $color-black
  display: inline-block

img,
svg
  width: 100%

svg
  text-align: center
