.ee-nav
  display: none

  +small
    display: block

.ee-nav ul li:first-child
  margin-bottom: 1.5rem

.ee-nav a
  position: relative

  &:hover:before
    content: "—"

.ee-nav a:before,
.ee-nav--is-active:before
  content: "—"
  display: block
  color: $color-black
  position: absolute
  top: 3px
  left: -20px

.ee-nav a:before
  content: ""

.ee-nav--is-active:before
  content: "—" !important
