section
  position: absolute
  top: 0
  left: 0
  right: 0
  z-index: 0

.ee-big-product-container
  position: relative
  padding: .5rem 1rem

  &:first-child
    padding: 1rem 1rem .5rem

  &:last-child
    padding: .5rem 1rem 6rem

.ee-small-products
  position: absolute
  left: 0
  right: 0
  z-index: 10
  top: 80%
  margin: auto
  max-width: 640px
  display: grid
  grid-template-columns: 1fr 1fr

  img
    max-width: 250px

    &:first-child
      margin-top: 8rem


// adjustments for parrallax
#shirt .ee-small-products
  top: 60%

#hoodie .ee-small-products
  top: 60%

#hat .ee-small-products
  top: 60%

#beanie .ee-small-products
    top: 60%

