@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

*::-moz-selection {
  background: yellow;
  outline: 1px solid red; }

*::selection {
  background: yellow; }

.is-hidden {
  display: none !important; }

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body {
  font-size: 12px;
  font-family: "Suisse Int'l Mono", "Menlo", monospace;
  color: black;
  letter-spacing: .1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none;
  color: black;
  display: inline-block; }

img,
svg {
  width: 100%; }

svg {
  text-align: center; }

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
  right: 0; }
  header > div {
    padding: 2.5rem 4rem; }
  header li {
    padding: .5em 0; }

.ee-nav ul li:first-child {
  margin-bottom: 1.5rem; }

.ee-nav a {
  position: relative; }
  .ee-nav a:hover:before {
    content: "—"; }

.ee-nav a:before,
.ee-nav--is-active:before {
  content: "—";
  display: block;
  color: black;
  position: absolute;
  top: 0px;
  left: -20px; }

.ee-nav a:before {
  content: ""; }

.ee-nav--is-active:before {
  content: "—" !important; }

.ee-product-info {
  text-align: right; }

.ee-product-info ul {
  margin-bottom: 1.5rem; }

.ee-product-info a {
  padding: .25rem; }
  .ee-product-info a:hover {
    background: black;
    color: #f9f5f0; }

.ee-inline li {
  display: inline-block; }

.ee-big-product-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0; }
  .ee-big-product-container > div {
    margin: 0 0 -10px 0; }
