@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

*::-moz-selection {
  background: #ea3223;
  color: white;
  outline: 1px solid red; }

*::selection {
  background: #ea3223;
  color: white; }

.is-hidden {
  display: none !important; }

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body {
  font-size: 12px;
  font-family: "Suisse Int'l Mono", "Menlo", monospace;
  color: black;
  letter-spacing: .1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: lowercase;
  margin: 0; }

a {
  text-decoration: none;
  color: black;
  display: inline-block; }

p {
  line-height: 1.5; }

img,
svg {
  width: 100%;
  margin: 0; }

svg {
  text-align: center; }

header {
  display: grid;
  grid-template-columns: 1fr;
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
  right: 0; }
  header > div {
    padding: 2rem; }
    @media (min-width: 640px) {
      header > div {
        padding: 3rem 4rem; } }
  header li {
    padding: .5rem 0; }
  @media (min-width: 640px) {
    header {
      grid-template-columns: 1fr 1fr; } }

.ee-nav {
  display: none; }
  @media (min-width: 640px) {
    .ee-nav {
      display: block; } }

.ee-nav ul li:first-child {
  margin-bottom: 1.5rem; }

.ee-nav a {
  position: relative; }
  .ee-nav a:hover:before {
    content: "—"; }

.ee-nav a:before,
.ee-nav--is-active:before {
  content: "—";
  display: block;
  color: black;
  position: absolute;
  top: 0px;
  left: -20px; }

.ee-nav a:before {
  content: ""; }

.ee-nav--is-active:before {
  content: "—" !important; }

.ee-product-info {
  text-align: right;
  display: block;
  height: 100%; }

.ee-product-info ul {
  position: relative;
  z-index: 10;
  margin-bottom: 1.5rem; }

.ee-product-info a {
  padding: .25rem .5rem;
  margin-left: .5rem;
  cursor: pointer; }
  .ee-product-info a:hover {
    background: black;
    color: #fbf8ed; }

.ee-product-size li:last-child {
  display: block; }

.ee-inline li {
  display: inline-block; }

.ee-product-attribute--is-selected {
  background: black;
  color: #fbf8ed; }

section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0; }

.ee-product-container {
  position: relative;
  padding: .5rem 1rem; }
  .ee-product-container:first-child {
    padding: 1rem 1rem .5rem; }
  .ee-product-container:last-child {
    padding: .5rem 1rem 7rem; }

.ee-small-products {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  top: 50%;
  transform: translateY(-30%);
  padding: 1rem;
  margin: auto;
  max-width: 640px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  transform: scale(0.75); }
  @media (min-width: 640px) {
    .ee-small-products {
      transform: scale(1.25); } }
  .ee-small-products img {
    position: relative;
    max-width: 250px;
    box-shadow: 40px 40px 80px 0 rgba(0, 0, 0, 0.2); }
    .ee-small-products img:first-child {
      top: 6rem; }

.ee-big-product {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  right: 0; }
  .ee-big-product img {
    position: relative;
    top: 0;
    left: 0;
    right: 0; }

footer {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  width: 100%; }
  footer > div {
    padding: 1rem; }
    @media (min-width: 640px) {
      footer > div {
        padding: 2.5rem 4rem; } }
  footer li {
    padding: .5em;
    display: inline-block; }

.ee-social a {
  padding: .25rem; }
  .ee-social a:hover {
    background: black;
    color: #fbf8ed; }

.ee-legal {
  text-align: right;
  position: relative;
  top: -.5rem; }
  .ee-legal span {
    letter-spacing: 0; }
